body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a:link, a:visited {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;

}
li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
.material-icons {
    display: flex;
    padding: 7px;
}
#header {
    display: flex;
    flex-flow: row nowrap;
    
    
    
}
#header-left {
    display: flex;
    flex: 25%;
    justify-content: flex-start;

    
}
#header-right {
    display: flex;
    flex: 25%;
    justify-content: flex-end;


}
#si-button {
    background-color: #1a73e8;
    border: none;
    color: white;
    font-size: 14px;
    padding: 9px 25px;
    border-radius: 4px;
}
#si-button:hover {
    background-color:  #4285F4; 
    box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.8);
}
#logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#entire-search-bar {
    display: flex;
    flex-flow: row nowrap;
}
#search-bar {
    display: flex;
    justify-content: center;
    
}
#voice-button {
    display: flex;
    align-items: flex-end;
}
 #sb-buttons {
     display: flex;
     justify-content: center;
 }

#search-button {
    background-color: #f8f9fa;
    border: none;
    color: black;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 4px;
    margin: 2px;
}
#search-button:hover {
    border: 1px solid #e2e4e7;
    box-shadow: 0px 3px 3px -4px rgba(0,0,0,0.8);
}
#lucky-button {
    background-color: #f8f9fa;
    border: none;
    color: black;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 4px;
    margin: 2px;
}
#lucky-button:hover {
    border: 1px solid #e2e4e7;
    box-shadow: 0px 3px 3px -4px rgba(0,0,0,0.8);
}

#footer {
    display: flex;
    flex-flow: row nowrap;
    bottom: 0%;
    position: fixed;
    
    
}
#footer-left {
    display: flex;
    justify-content: flex-start;
    flex: 50%;
    
}
#footer-right {
    display: flex;
    flex: 10%;
    align-items: flex-end;


}