body {
    
}
ul, a:link, a:visited {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
a:hover {
    text-decoration: underline;

}
li {
    
    padding: 10px;
}
.material-icons {
    padding: 0px;
}
#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    
    
}
#header-left {
    display: flex;
    flex: 25%;
    justify-content: flex-start;

    
}
#header-right {
    display: flex;
    flex: 25%;
    justify-content: flex-end;


}
#logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}